/* style.css */
html, body {
    height: 100%;
    margin: 0;
}

.login-form {
    width: 75%;
    max-width: 400px;
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.btn-outline-primary {
    border-width: 2px;
    color: #007BFF;
    margin-bottom: 10px;
}

.btn-primary {
    background-color: #007BFF;
    border: none;
    padding: 10px 0;
}

.form-control {
    border-radius: 20px;
    padding: 10px 20px;
}

.divider {
    margin: 20px 0;
    text-align: center;
    border-bottom: 1px solid #ccc;
    line-height: 0.1em;
}

.divider::before {
    content: 'OR';
    background: #fff;
    padding: 0 10px;
}

a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
