body, html {
    height: 100%;
    margin: 0;
}

.bg-image {
    background-image: url('../../public/vine-yard.jpg'); /* Adjust the path as needed */
    background-size: cover;
    background-position: center;
    height: 100%;
}

.form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.form-box {
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;
}
