body, html {
    height: 100%;
    margin: 0;
}

.bg-image {
    background-size: cover;
    background-position: center;
    height: 100%;
}

#bg {
    width: 100%; /* or any custom size */
    height: 100%; 
}

.form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.form-box {
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;
}

.btn-log-in
{
    width: 70%;
}